@use "@angular/material" as mat;

.main-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: purple,
      container-text-color: white,
    )
  );
}

.user-detail {
  display: flex;
  gap: 4px;
  @media (max-width: 650px) {
    display: none;
  }
}

.spacer {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto; /* Center horizontally */
  padding: 1rem; /* Horizontal padding */
  min-height: 100vh; /* Fill full height of screen */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
