<mat-card class="todo-item" appearance="outlined" color="primary">
  <mat-card-header>
    <mat-card-title>
      <span class="todo-title">
        @if (todo().completed) {
          <mat-icon
            class="task-done-icon"
            aria-hidden="false"
            aria-label="Task done icon"
            fontIcon="check_circle"
          ></mat-icon>
        }
        {{ todo().title }}
      </span>
    </mat-card-title>
    <mat-card-subtitle>
      <span>Due on: {{ todo().dueDate | date: "longDate" }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ todo().description }}
    </p>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
  </mat-card-footer>
</mat-card>
