section.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

section.container > * {
  flex: 1;
}

section.container > .todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todo-item-container {
  max-height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 0.5rem;
}

.no-todos-message {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}
