<h1>Todos Component</h1>

<section class="container">
  <div class="todo-list">
    @for (todo of todos(); track todo.id) {
    <app-todo-item
      [todo]="todo"
      (edit)="handleEditTodo($event)"
    ></app-todo-item>
    } @empty {
    <p>No items to display.</p>
    }
  </div>
  <div class="todo-form">
    <todo-form
      [todoToEdit]="selectedTodo()"
      (cancelEdit)="handleCancelEdit()"
      (addTodo)="handleAddTodo($event)"
      (updateTodo)="handleUpdateTodo($event)"
    ></todo-form>
  </div>
</section>
